<!DOCTYPE html>
<html>
  <head>
      <style>
        #header{
          font-size: 40px;
          padding: 50px;
          padding-bottom: 25px;
          padding-left: 0px;
          font-weight: bold;
        }
        .country{
          font-size: 25px;
          font-weight: bold;
        }
      </style>
      <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
      <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
      <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
      <script type="text/javascript" src="{{ url_for('static', filename = 'view_city.js') }}"></script>
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    </head>

    {% extends "layout.html" %}
    {% block content %}
    <body>
      <div id = "header">{{ data["name"] }}</div>
      <div class = "subheader"> City Information </div>
      <div class = "bold"> Country: <div id = "{{data['country']}}" class = "btn-outline-info country"> {{data["country"]}} </div> </div>
      <div> <span class = "bold">Weather: </span> {{ data["weather"] }}</div>
      <div> <span class = "bold">Main attraction: </span> {{ data["main_attraction"] }}</div>
      
      <div id = "content">
        <div class = "subheader">Articles and Photos about {{ data["name"] }} </div>
        {% if content|length %}
          <div class="card-columns">
            {% for n in content %}
            <div class = "content card bg-light" id = "{{n}}">{{n}}</div>
            {% endfor %} 
          </div>
        {% else %}
            No articles or photos about {{ data["name"] }} yet.
        {% endif %}
      </div>
  	
    </body>
    {% endblock %}
</html>
