<!DOCTYPE html>
<html>
  <head>
      <style>
        #header{
          font-size: 40px;
          padding: 50px;
          padding-bottom: 25px;
          padding-left: 0px;
          font-weight: bold;
        }
      </style>
      <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
      <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
      <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    </head>

    {% extends "layout.html" %}
    {% block content %}
    <body>
      <div id = "header">{{ article["title"] }}</div>
      <div id = "photo">
        <img src = "{{ photo['url'] }}">
      </div>
      <div id = "photo-info">
        Photo Information:
        <div> Size: {{ photo["size"] }}</div>
        <div> Resolution:{{ photo["resolution"] }}</div>
        <div> Type: {{ photo["type"] }}</div>
        <div> Copyright: {{ photo["copyright"] }}</div>
      </div>
      <div id = "photographer-info">
        <div> Photographer: {{ writer["name"] }}</div> 
        <div> Bio: {{ writer["bio"] }}</div> 
        <div> Company: {{ writer["genre"] }}</div> 
        <div> Known For {{ writer["genre"] }}</div> 
      </div>
      <div id = "editor-info">
        This article was edited by {{ editor["name"] }}, a {{ editor["education"] }} graduate with {{ editor["yoe"] }} years of experience.  	
    </body>
    {% endblock %}
</html>
