<!DOCTYPE html>
<html>
   <head>
    <style>
      #header{
          font-size: 40px;
          padding-bottom: 25px;
          padding-top: 25px;
          font-weight: bold;
      }
      .continent{
          font-size: 25px;
          font-weight: bold;
        }

    </style>
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <script type="text/javascript" src="{{ url_for('static', filename = 'view_country.js') }}"></script>

   </head>

   {% extends "layout.html" %}
   {% block content %}

   <body>
      <div id = "header">{{ data["name"] }}</div>
      <div class = "subheader"> Country Information </div>
      <div class = "bold"> Continent: <div id = "{{data['continent']}}" class = "btn-outline-info country"> {{data["continent"]}} </div> </div>
      <div><span class = "bold">GDP:</span> {{ data["gdp"] }}</div>
      <div><span class = "bold">Population: </span>{{ data["population"] }}</div>
      <div><span class = "bold">Crime Rate: </span>{{ data["crime_rate"] }}</div>
      <br>
      <div id = "content">
        <div class = "subheader">Articles and Photos about {{ data["name"] }} </div>
        {% if content|length %}
          <div class="card-columns">
            {% for n in content %}
            <div class = "content card bg-light" id = "{{n}}">{{n}}</div>
            {% endfor %} 
          </div>
        {% else %}
            No articles or photos about {{ data["name"] }} yet.
        {% endif %}
      </div>
      <br>
      <div class = "subheader"> Cities in {{ data["name"] }} </div>
        <div id = "cities">
        {% if cities|length %}
          <div class="card-columns">
            {% for n in cities %}
            <div class = "city card bg-light" id = "{{n}}">{{n}}</div>
            {% endfor %} 
          </div>
        {% else %}
            No cities in {{ data["name"] }} in database yet.
        {% endif %}
      </div>    
    </body> 

   {% endblock %}

</html>
