<!DOCTYPE html>
<html>
  <head>
      <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
      <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
      <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    </head>

    {% extends "layout.html" %}
    {% block content %}
    <body>
      <div id = "article-info">
        <div id = "header">{{ article["title"] }}</div>
        <div><span class = "bold">Tag: </span>{{ article["tag"] }}</div>
        <div><span class = "bold"> Content of Article: </span> <br> {{ article["text"] }}</div>
      </div>
      <br>
      <div id = "writer-info">
        <div class = "bold subheader"> Author Information </div>
        <div><span class = "bold"> Author: </span> {{ writer["name"] }}</div> 
        <div><span class = "bold"> Bio: </span> {{ writer["bio"] }}</div> 
        <div><span class = "bold"> Author Genre: </span> {{ writer["genre"] }}</div> 
      </div>
      <br><br>
      <div id = "editor-info">
        <div class = "bold"> Editor Information </div>
        This article was edited by {{ editor["name"] }}, a {{ editor["education"] }} graduate with {{ editor["yoe"] }} years of experience.  	
    </body>
    {% endblock %}
</html>
