<!DOCTYPE html>
<html>
   <head>
    <style>
      #header{
          font-size: 40px;
          padding-bottom: 25px;
          padding-top: 25px;
          font-weight: bold;
      }
      .continent{
          font-size: 25px;
          font-weight: bold;
        }

    </style>
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <script type="text/javascript" src="{{ url_for('static', filename = 'view_country.js') }}"></script>

   </head>

   {% extends "layout.html" %}
   {% block content %}

   <body>
      <div id = "country_info">
        <div id = "header">{{ data["name"] }}</div>
        <div id = "{{data['continent']}}" class = "btn-outline-secondary continent"> {{data["continent"]}}</div>
        <div>GDP: {{ data["gdp"] }}</div>
        <div>Population: {{ data["population"] }}</div>
        <div>Crime Rate: {{ data["crime_rate"] }}</div>
      </div>
      <br>
      <div id = "content">
        <span class = "subheader">Articles and Photos about {{ data["name"] }} </span>
        {% if content|length %}
          <div class="card-columns">
            {% for n in content %}
            <div class = "content card bg-light" id = "{{n}}">{{n}}</div>
            {% endfor %} 
          </div>
        {% else %}
            No articles or photos about {{ data["name"] }} yet.
        {% endif %}
      </div>
      <div id = "cities">
        Cities in {{ data["name"] }}
        {% for n in cities %}
          <div class = "row">
            <div class = "col">
              <div class = "city btn btn-outline-info" id = "{{n}}">{{n}}</div>
            </div>
          </div>
          {% endfor %}  
      </div>
    
    </body>
   




   {% endblock %}

</html>
