<!DOCTYPE html>
<html>
  <head>
      <style>
        #header{
          font-size: 40px;
          padding: 50px;
          padding-bottom: 25px;
          padding-left: 0px;
          font-weight: bold;
        }
      </style>
      <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
      <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
      <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    </head>

    {% extends "layout.html" %}
    {% block content %}
    <body>
      <div id = "header">{{ photo["title"] }}</div>
      <div id = "photo">
        <img src = "{{ photo['url'] }}">
      </div>
      <div id = "photo-info">
        <div class = "subheader"> Photo Information: </div>
        <div> <span class = "bold"> Size: </span> {{ photo["size"] }} </div>
        <div> <span class = "bold"> Resolution:</span> {{ photo["resolution"] }} </div>
        <div> <span class = "bold"> Type: </span> {{ photo["type"] }}</div>
        <div> <span class = "bold"> Copyright: </span>{{ photo["copyright"] }} </div>
      </div>
      <br>
      <div id = "photographer-info">
        <div class = "bold"> Photographer Information </div>
        <div> <span class = "bold"> Photographer: </span>{{ photographer["name"] }} </div> 
        <div> <span class = "bold"> Bio: </span> {{ photographer["bio"] }} </div> 
        <div> <span class = "bold"> Company: </span> {{ photographer["company"] }} </div> 
        <div> <span class = "bold"> Known For </span> {{ photographer["known_for"] }} </div> 
      </div>
      <br>
      <div id = "editor-info">
        <div class = "bold"> Editor Information </div>
        This article was edited by {{ editor["name"] }}, a {{ editor["education"] }} graduate with {{ editor["yoe"] }} years of experience.  	
    </body>
    {% endblock %}
</html>
