<!DOCTYPE html>
<html>
   <head>
    <style>
      #header{
          font-size: 40px;
          padding-bottom: 25px;
          padding-top: 25px;
          font-weight: bold;
      }
      .continent{
          font-size: 25px;
          font-weight: bold;
        }

    </style>
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <script type="text/javascript" src="{{ url_for('static', filename = 'view_continent.js') }}"></script>

   </head>

   {% extends "layout.html" %}
   {% block content %}

   <body>
      <div id = "header">{{ data["name"] }}</div>
      <div class = "subheader"> Continent Information </div>
      <div><span class = "bold">Area: </span>{{ data["area"] }}</div>
      <div><span class = "bold">North or South: </span> {{ data["north_south"] }}</div>
      <div><span class = "bold">East or West: </span> {{ data["east_west"] }}</div>

      <br>
      
      <div id = "content">
        <div class = "subheader">Articles and Photos about {{ data["name"] }} </div>
        {% if content|length %}
          <div class="card-columns">
            {% for n in content %}
            <div class = "content card bg-light" id = "{{n}}">{{n}}</div>
            {% endfor %} 
          </div>
        {% else %}
            No articles or photos about {{ data["name"] }} yet.
        {% endif %}
      </div>

      <div class = "subheader">Countries in {{ data["name"] }}</div>
      <div id = "countries">
        {% if countries|length %}
          <div class="card-columns">
            {% for n in countries %}
            <div class = "country card bg-light" id = "{{n}}">{{n}}</div>
            {% endfor %} 
          </div>
        {% else %}
            No countries in {{ data["name"] }} in database yet.
        {% endif %}
      </div>
    </body>
   
   {% endblock %}

</html>
